@model KouStoreAdmin.Models.Product



<h3>Silmek İstediğine emin misin ?</h3>
<hr />

@using (Html.BeginForm("Delete", "Product", new { id = @Model.ProductID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Geri Dön", "Index", null, new { @class = "" })
        <input type="submit" value="Sil" class="btn btn-danger col-md-offset-1" />
    </div>
}

