<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
</head>
<body>
    <hgroup>
        <h1>Hata.</h1>
        <h2>Görüntülemek istediğiniz sayfada hata oluştu.</h2>
    </hgroup>
</body>
</html>
