
@{
    ViewBag.Title = "Shipping";
}
<br /><br />
      <div class="container">
          <div class="checkout-left" style="margin-top:33px">
              <div class="panel-group" id="accordion">
                  <!-- Coupon section -->
                  <div class="panel panel-default aa-checkout-coupon" style="visibility:hidden">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                  Kocaeli Üniversitesi Öğrencilerine Özel Kupon Kodunuz var mı ?
                              </a>
                          </h4>
                      </div>

                  </div>

                  <!-- Billing Details -->
                  <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                  Siparişini verdiğim ürün ne zaman elimize ulaşır?
                              </a>
                          </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                              Kredi kartı ile vereceğiniz siparişlerinizde banka onayı anında alınabilmekte ve siparişiniz hemen hazırlık aşamasına alınabilmektedir. Havale siparişlerinizde yatırmış olduğunuz ödeme, her mesai günü başlangıcında hesaplarımız kontrol edilerek takip edilmekte ve ödemesi gelen siparişler hazırlık aşamasına alınmaktadır. <br /><br />Eğer siparişinizdeki ürünlerin tedarik aşamasında herhangi bir problem yaşanırsa, ürünle ilgili tüm bilgiler mağaza yetkililerimizce sistemimizde kayıtlı e-mail adresinize gönderilmektedir. Satın aldığınız ürünler en kısa süre içinde size ulaştırılmak üzere kargo firmasına teslim edilmektedir. <br /><br />Kargo firmaları paketleri teslim aldıktan sonra bulunduğunuz bölgeye göre 7 İş günü içerisinde, adrese teslimat yapılan bölgelerde adresinize, adrese teslimat yapılamayan bölgelerde ilgili kargo şubesine paketleri ulaştırmaktadır. (Bayram tatili, resmi tatil ve bezneri tatil dönemlerinde; siparişler tatil dönemi içerisinde teslim edilmeyecek, tatil dönemi bitiminde sevk işlemleri başlatılacaktır. Söz konusu tatil sonrası teslimat işlemleri 10 iş gününe kadar çıkabilir)
                          </div>
                      </div>
                  </div>

                  <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                  Siparişim hangi kargo firması ile gönderilecek?

                              </a>
                          </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                          <div class="panel-body">
                              Firmamızın Aras Kargo, firmalası ile anlaşması bulunmaktadır.<br /><br />

                              Anlaşmalı Kargo firmasının adrese teslimat yaptığı bölgeleri görmek için tıklayınız.<br /><br />

                              Listede kırmızı ile işaretlenmiş veya listede bulunmayan bölgelere adrese teslim hizmeti yoktur. Ayrıca askeri bölgelerin güvenlik kurallarından dolayı bu bölgelere adres teslimi yapılamamaktadır. Zaman zaman bölge kaynaklı teslimat yapılmasını engelleyici veya yavaşlatıcı nedenlerden dolayı teslimatlar da gecikme yaşanabilmektedir.

                          </div>
                      </div>
                  </div>


                  <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                  Siparişim arızalı ya da yanlış geldi ne yapmalıyım?

                              </a>
                          </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                              Siparişiniz kargo görevlisi tarafınızdan size ulaştırıldığında teslim almadan önce mutlaka dış pakette hasar kontrolü yapmanız ve herhangi bir hasar durumunda `Hasar Tespit Tutanağı` hazırlatmanız gerekmektedir. Hasar tespit tutanağı ile ilgili olarak dikkat etmeniz gereken bir diğer husus kargo görevlilerinin tutanakta belirttikleri açıklamalardır. Örneğin, `Kolide hasar bulunmamaktadır. Ürün hasarlıdır.` gibi bir tutanak, ürünün taşıma esnasında hasar görmediği şeklinde yorumlanacağından değişim esnasında problem yaratmaktadır. Hasarlı çıkan ürününüz için mutlaka tam ve doğru kelimelerle tutanak tutulması için görevliyi uyarınız. (Örn : Ürün elime ulaştığında kontrol edilmiş ve hasarlı olduğu görülmüştür. )

                              <br /><br />Siparişinizi teslim aldıktan sonra fark ettiğiniz hasar durumlarında ise kargo şubenize hemen bilgi vermeniz ve hasar tespit tutanağı hazırlanması doğrultusunda yardım talep etmeniz gerekmektedir. Eğer kargo şubesinden gerekli yardımı alamaz iseniz bize bilgi vermenizi rica ederiz.

                              <br /><br />Kargo görevlisine tutanağı hazırlatarak ürünü bize ulaştırmanız sonucunda, değişim işlemleriniz hızlı bir şekilde tamamlanacak ve tarafınıza bilgi verilecektir.
                          </div>
                      </div>
                  </div>


                  <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                  Siparişimde bulunan ürünlerin hepsi bana ulaşmadı?


                              </a>
                          </h4>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                          <div class="panel-body">
                              Siparişinizde 1´den fazla ürün bulunduğu durumlarda gönderimlerimiz parçalı olarak yapılabilmektedir.

                              <br /><br /> Ürün sayısı ile size ulaşan faturada belirtilen ürün sayısı aynı olmalıdır. Parçalı her gönderim için ayrı fatura düzenlenmektedir.

                              <br /><br /> Faturada belirtilen ürünler pakette bulunmadığı takdirde kargo görevlisinden tutanak tutmasını isteyiniz ve bizimle irtibata geçiniz.

                              <br /><br /> Tutanak tutmamanız durumunda Btmmoda.com hiçbir şekilde mesül değildir
                          </div>
                      </div>
                  </div>


                  <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                  Kargo Teslimatı Sırasında Nelere Dikkat Edilmeli?

                              </a>
                          </h4>
                      </div>
                      <div id="collapse5" class="panel-collapse collapse">
                          <div class="panel-body">
                              Sitemizden verdiğiniz siparişinizde bulunan ürünler size ulaştığında kargo görevlisi yanınızdayken isterseniz teslim fişini imzaladıktan sonra kargo paketini açıp kontrol edebilirsiniz. Paket içeriğinde herhangi bir yanlışlık ya da eksiklik söz konusu ise kargo tutanağı hazırlatarak bize geri gönderebilir ya da bilgi verebilirsiniz. Bu gibi durumlarda kargo görevlisi ile herhangi bir sorun yaşarsanız bize hemen bilgi vermenizi rica ederiz. Tarafımızdan gerekli müdahale en kısa sürede yapılacak ve sorununuz çözüme kavuşturulacaktır.
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>